@charset "UTF-8";

header {
    background: linear-gradient(#f07167, #fed9b7);
    color: white;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 50px;
    height: 50px;
}

.nomedaempresa h1 {
    font-size: 24px;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: #f5f9f8;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
}

.navbar ul li a:hover {
    background-color: #252330;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }
}