@charset "UTF-8";
@import url(header.css);
@import url(footer.css);
*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfaf2;
    color: #333;
}
main {
    padding: 20px;
}

section {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}