@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(header.css);
@import url(footer.css);
@import url(carousel.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfaf2;
    color: #333;
}

main {
    padding: 0px;
}

section {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bgimage {
    margin: 0px;
    background-color: #fcfaf2;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-attachment: fixed;
}

#img01 {
    background-image: url(../image/tecladoled.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 1.5vw;
}

#servico {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fcfaf2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#gif-computer img {
    width: 540px;
    height: auto;
    border-radius: 10px;
}

#sobre-sevico h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#sobre-sevico p {
    font-size: 2vw;
    color: #3B3A4A;
    line-height: 1.6;
}